@import url("colors.css");

/***********
 * general *
 ***********/
* {
	-gtk-icon-style: regular;
	-GtkWidget-link-color: @link_fg_normal;
/*    -GtkWidget-cursor-aspect-ratio: 0.1;*/
}
.background {
	background-color: @default_bg_normal;
	color: @default_fg_normal;
}
/**:disabled {
	color: @default_fg_insensitive;
	text-shadow: 1px 1px shade(@default_bg_insensitive, 1.3;
	-gtk-icon-effect: dim;
}*/
.flat:not(:hover):not(:checked) {
	border: none;
  box-shadow: none;
}
.gtkstyle-fallback {
  background-color: @default_bg_normal;
  color: @default_fg_normal;
}
.gtkstyle-fallback:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
}
.gtkstyle-fallback:active {
	background-color: @default_bg_active;
	color: @default_fg_active;
}
.gtkstyle-fallback:disabled {
	background-color: @default_fg_insensitive;
	color: @default_bg_insensitive;
}
.gtkstyle-fallback:selected {
	background-color: @default_bg_selected;
	color: @default_fg_selected;
}

/*********
 * label *
 *********/
label:disabled {
	color: @default_fg_insensitive;
	text-shadow: 1px 1px shade(@default_bg_insensitive, 1.3);
}
/*
button:hover:not(:active) label {
  background-color: @default_bg_prelight;
}
button:active label {
  background-color: @default_bg_active;
}
button:checked label {
  background-color: @default_bg_active;
}
button:checked:hover label {
  background-color: @default_bg_prelight;
}
*/

/*************
 * selection *
 *************/
selection,
*:selected,
.view:selected {
	background-color: @default_base_active;
	color: @default_text_active;
}
selection:focus,
*:selected:focus,
.view:selected:focus,
*:focus *:selected {
	background-color: @default_base_selected;
	color: @default_text_selected;
}
.rubberband,
.view.rubberband {
	background-color: alpha(@default_bg_selected, 0.2);
	border: 1px solid @default_bg_selected;
}

/*********
 * boxes *
 *********/

/***********
 * buttons *
 ***********/
button {
	background-color: @default_bg_normal;
  color: @default_fg_normal;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
	padding: 5px;
}
/* border-image requiered for Evolution column headers */
.button {
  background-color: @default_bg_normal;
  color: @default_fg_normal;
	border-image: url("assets/button.png") 2 / 2px stretch;
  box-shadow: none;
	padding: 5px;
}
button:hover,
.button:hover,
button.link:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
  box-shadow: inset -2px -2px shade(@default_bg_prelight, 0.7), inset 2px 2px @default_bg_prelight, inset 1px 1px shade(@default_bg_prelight, 1.3), inset -1px -1px shade(@default_bg_prelight, 0);
  border-image: none;
}
/* required for print dialog */
button:hover box, button:hover label,
.button:hover box, .button:hover label,
button.link:hover box, button.link:hover label {
	background-color: transparent;
}
button:active,
.button:active,
button:checked,
button.toggle:checked {	
	background-color: @default_bg_active;
	color: @default_fg_active;
  box-shadow: inset -2px -2px @default_bg_active, inset 2px 2px shade(@default_bg_active, 0), inset -1px -1px shade(@default_bg_active, 1.3), inset 1px 1px shade(@default_bg_active, 0.7);
  border-image: none;
}
button.toggle:checked:hover {	
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
  box-shadow: inset -2px -2px @default_bg_prelight, inset 2px 2px shade(@default_bg_prelight, 0), inset -1px -1px shade(@default_bg_prelight, 1.3), inset 1px 1px shade(@default_bg_prelight, 0.7);
  border-image: none;
}
/*
checkbutton:hover, radiobutton:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
}
checkbutton:disabled, radiobutton:disabled {
	color: @default_fg_insensitive;
	text-shadow: 1px 1px shade(@default_bg_insensitive, 1.3);;
}
checkbutton label, radiobutton label {
	padding-right: .5em;
}
*/
/*
button:active:hover, .button:active:hover,
button.toggle:checked:hover,
button.toggle:active:hover,
stackswitcher button:checked:hover,
viewswitcher button:checked:hover {	
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
  box-shadow: inset -2px -2px @default_bg_prelight, inset 2px 2px shade(@default_bg_prelight, 0), inset -1px -1px shade(@default_bg_prelight, 1.3), inset 1px 1px shade(@default_bg_prelight, 0.7);
  border-image: none;
}*/

button:focus,
.button:focus,
checkbutton:focus,
radiobutton:focus {
	outline-color: default_fg_normal;
  outline-style: dotted;
  outline-offset: -4px;
  outline-width: 1px;
}

/*
dialog button:focus, messagedialog button:focus, printdialog button:focus {
  box-shadow: inset -3px -3px shade(@default_bg_prelight, 0.7), inset 3px 3px @default_bg_prelight, inset 2px 2px shade(@default_bg_prelight, 1.3), inset -2px -2px shade(@default_bg_prelight, 0), inset 1px 1px shade(@default_bg_prelight, 0), inset -1px -1px shade(@default_bg_prelight, 0);
	outline-color: default_fg_normal;
  outline-style: dotted;
  outline-offset: -4px;
  outline-width: 1px;
}
*/
button:disabled,
.button:disabled {
	background-color: @default_bg_insensitive;
	color: @default_fg_insensitive;
	text-shadow: 1px 1px shade(@default_bg_insensitive, 1.3);;
	-gtk-icon-effect: dim;
}
button.link {
	color: @link_fg_normal;
  box-shadow: none;
}
button.link:hover {
	color: @link_fg_normal;
  box-shadow: inset -2px -2px shade(@default_bg_prelight, 0.7), inset 2px 2px @default_bg_prelight, inset 1px 1px shade(@default_bg_prelight, 1.3), inset -1px -1px shade(@default_bg_prelight, 0);
}
button.link:active {
  background-color: @default_bg_active;
	color: @link_fg_normal;
  box-shadow: inset -2px -2px @default_bg_active, inset 2px 2px shade(@default_bg_active, 0), inset -1px -1px shade(@default_bg_active, 1.3), inset 1px 1px shade(@default_bg_active, 0.7);
}
button.link > label {
	text-decoration-line: underline;
}
button.color * {
	box-shadow: inset 2px 2px shade(@default_bg_normal, 0.7), inset -2px -2px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0.7);
	margin: 1px;
	margin-left: 15px;
	margin-right: 15px;
	min-height: 15px;
}

/**************
 * scrollbars *
 **************/
scrollbar{
  background-color: @default_bg_active;
  box-shadow: inset 1px 1px shade(@default_bg_active, 0.7), inset -1px -1px shade(@default_bg_active, 1.3);
  padding: 1px;
}
scrollbar button,
scrollbar button:hover,
scrollbar button:active,
scrollbar button:active:hover,
scrollbar button:disabled {
	font-size: .8em;
	min-height: 10px;
	min-width: 10px;
	padding: 2px;
}
scrollbar button {
	background-color: @default_bg_normal;
	color: @default_fg_normal;
}
scrollbar button:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
}
scrollbar button:active {
	background-color: @default_bg_active;
	color: @default_fg_active;
}
scrollbar button:active:hover {
	background-color: @default_bg_active;
	color: @default_fg_active;
}
scrollbar button:disabled {
	background-color: @default_bg_insensitive;
	color: @default_fg_insensitive;
}
scrollbar slider {
	background: @default_bg_normal;
	box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
}
scrollbar slider:hover {
	background-color: @default_bg_prelight;
  box-shadow: inset -2px -2px shade(@default_bg_prelight, 0.7), inset 2px 2px @default_bg_prelight, inset 1px 1px shade(@default_bg_prelight, 1.3), inset -1px -1px shade(@default_bg_prelight, 0);
}
scrollbar.vertical slider {
	min-height: 10px;
	min-width: 10px;
	padding: 2px;
}
scrollbar.horizontal slider {
	min-height: 10px;
	min-width: 10px;
	padding: 2px;
}
scrollbar.vertical button.up {
	-gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
scrollbar.vertical button.down {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
scrollbar.horizontal button.up {
	-gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
scrollbar.horizontal button.down {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

/**************
 * checkboxes *
 **************/
checkbutton {
	background-color: transparent;
}
checkbutton:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
}
/*
checkbutton:active {
	background-color: @default_bg_active;
	color: @default_fg_active;
}
*/
checkbutton:disabled {
	color: @default_fg_insensitive;
	text-shadow: 1px 1px shade(@default_bg_insensitive, 1.3);
	-gtk-icon-effect: dim;
}
checkbutton label {
  padding-left: 3px;
  padding-right: 5px;
}
check {
	background-color: transparent;
	min-height: 16px;
	min-width: 16px;
	margin: .3em;
}
check {
	-gtk-icon-source: url("assets/checkbox-unchecked.png");
}
check:not(:focus) {
  background-color: transparent;
	-gtk-icon-source: url("assets/checkbox-unchecked.png");
}
check:selected:not(:focus) {
  background-color: transparent;
	-gtk-icon-source: url("assets/checkbox-unchecked.png");
}
check:selected:not(:focus):disabled {
  background-color: transparent;
	-gtk-icon-source: url("assets/checkbox-unchecked-disabled.png");
}
check:active {
	-gtk-icon-source: url("assets/checkbox-unchecked-active.png");
}
check:disabled {
  background-color: transparent;
	-gtk-icon-source: url("assets/checkbox-unchecked-disabled.png");
}
check:checked {
	-gtk-icon-source: url("assets/checkbox-checked.png");
}
check:checked:not(:focus) {
	-gtk-icon-source: url("assets/checkbox-checked.png");
}
check:checked:selected:not(:focus) {
  background-color: transparent;
	-gtk-icon-source: url("assets/checkbox-checked.png");
}
check:checked:selected:not(:focus):disabled {
  background-color: transparent;
	-gtk-icon-source: url("assets/checkbox-checked-disabled.png");
}
check:checked:active {
  background-color: transparent;
	-gtk-icon-source: url("assets/checkbox-checked-active.png");
}
check:checked:disabled {
	-gtk-icon-source: url("assets/checkbox-checked-disabled.png");
}
check:indeterminated {
	-gtk-icon-source: url("assets/checkbox-indeterminated.png");
}
check:indeterminated:active {
	-gtk-icon-source: url("assets/checkbox-indeterminated-active.png");
}
check:indeterminated:disabled {
	-gtk-icon-source: url("assets/checkbox-indeterminated-disabled.png");
}

/******************
 * radion buttons *
 ******************/
radiobutton {
	background-color: @default_bg_normal;
	color: @default_fg_normal;
}
radiobutton:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
}
/*
radiobutton:active {
	background-color: @default_bg_active;
	color: @default_fg_active;
}
*/
radiobutton:disabled {
	color: @default_fg_insensitive;
	text-shadow: 1px 1px shade(@default_bg_insensitive, 1.3);
	-gtk-icon-effect: dim;
}
radiobutton label {
  padding-left: 3px;
  padding-right: 5px;
}
radio {
	background-color: transparent;
	min-height: 16px;
	min-width: 16px;
	margin: .3em;
}
radio {
	-gtk-icon-source: url("assets/radio-unchecked.png");
}
radio:not(:focus) {
  background-color: transparent;
	-gtk-icon-source: url("assets/radio-unchecked.png");
}
radio:selected:not(:focus) {
  background-color: transparent;
	-gtk-icon-source: url("assets/radio-unchecked.png");
}
radio:selected:not(:focus):disabled {
  background-color: transparent;
	-gtk-icon-source: url("assets/radio-unchecked-disabled.png");
}
radio:active {
	-gtk-icon-source: url("assets/radio-unchecked-active.png");
}
radio:disabled {
	-gtk-icon-source: url("assets/radio-unchecked-disabled.png");
}
radio:checked {
	-gtk-icon-source: url("assets/radio-checked.png");
}
radio:checked:not(:focus) {
  background-color: transparent;
	-gtk-icon-source: url("assets/radio-checked.png");
}
radio:checked:selected:not(:focus) {
  background-color: transparent;
	-gtk-icon-source: url("assets/radio-checked.png");
}
radio:checked:selected:not(:focus):disabled {
  background-color: transparent;
	-gtk-icon-source: url("assets/radio-checked-disabled.png");
}
radio:checked:active {
	-gtk-icon-source: url("assets/radio-checked-active.png");
}
radio:checked:disabled {
	-gtk-icon-source: url("assets/radio-checked-disabled.png");
}

/****************
 * text entries *
 ****************/
entry {	
	background-color: @default_base_normal;
	color: @default_text_normal;
  box-shadow: inset -2px -2px @default_bg_normal, inset 2px 2px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0.7);
  padding: 4px;
}
entry:checked {
	background-color: @default_base_active;
	color: @default_text_active;
}
entry:disabled {
	background-color: @default_base_insensitive;
	color: @default_text_insensitive;
  -gtk-icon-effect: dim;
}

/**********
 * views  *
 **********/
.view {
	background-color: @default_base_normal;
	color: @default_text_normal;
}
dialog .view {
	background-color: @default_base_normal;
	color: @default_text_normal;
}
textview {
	background-color: @default_base_normal;
  color: @default_text_normal;
  /*box-shadow: inset -2px -2px @default_bg_normal, inset 2px 2px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0.7);*/
  padding: 4px;
}
/*scrolledwindow {
  box-shadow: inset -2px -2px @default_bg_normal, inset 2px 2px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0.7);
  padding: 2px;
}*/
/* required for LibreOffice combo boxes */
grid > toolbar {
  box-shadow: none;
  border-image: none;
}
/* required for LibreOffice Calc formula field */
#monoborder {
  box-shadow: inset -2px -2px @default_bg_normal, inset 2px 2px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0.7);
  padding: 1px;
}
/*widget {
  background: @default_bg_normal;
}*/
/*box, toolbar,  widget {
  border-width: 0px;
}*/

/***********
* treeview *
************/
treeview, treeview.view {
	background-color: @default_base_normal;
}
treeview.view.odd {
  background-color: shade(@default_base_normal, 1);
}
treeview.view.sorted.odd {
  background-color: shade(@default_base_normal, 0.93);
}
treeview.view.even {
  background-color: shade(@default_base_normal, 0.93);
}
treeview.view.sorted.even {
  background-color: shade(@default_base_normal, 0.87);
}
treeview.view:selected,
treeview.view.sorted:selected {
  background-color: @default_base_selected;
  color: default_text_selected;
}

/***************
 * spin button *
 ***************/
spinbutton:disabled {
	color: @default_text_insensitive;
}

/**************
 * combo boxes *
 **************/
combobox arrow {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	color: @default_fg_normal;
	margin: -.1em;
	min-height: 1.5em;
	min-width: 1.5em;
}
combobox arrow:insensitive {
	color: @default_fg_insensitive;
	-gtk-icon-effect: dim;
}
combobox button:first-child arrow {
  box-shadow: inset 2 0 shade(@default_bg_normal, 1.3), inset 1 0 shade(@default_bg_normal, 0.7);
	padding-left: .5em;
}

/*********
 * menus *
 *********/
menubar {
	min-height: 24px;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
}
menubar decoration,
.popup decoration {
	border: 0;
}
menu {
	background-color: @default_bg_normal;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 0);
	padding: 2px;
}
menubar > menuitem {
	margin: 1px;
	padding: .3em .4em;
	color: @default_fg_normal;
}
menubar > menuitem:hover {
	background: @colored_bg_prelight;
	color: @colored_fg_prelight;
}
menuitem {
	padding: .2em;
}
menuitem:hover {
	background-color: @colored_bg_prelight;
	color: @colored_fg_prelight;
}
menu separator {
  box-shadow: inset 2px 2px shade(@default_bg_normal, 1.3), inset -2px -2px shade(@default_bg_normal, 0.7), inset 1px 1px shade(@default_bg_normal, 0.7), inset -1px -1px shade(@default_bg_normal, 1.3);
	margin: .2em .4em;
	padding: 1px;
}
menuitem > check,
menuitem > radio,
menuitem > arrow,
menuitem > image {
	min-height: 16px;
	min-width: 16px;
}
menuitem > arrow {
	font-size: 1.6em;
	margin: -.2em 0 -.2em 1em;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

/*************
 * notebooks *
 *************/
notebook.frame > stack {
  background-color: @default_bg_normal;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
  padding: 2px;
}
/* required for pavucontrol */
.pavucontrol-window notebook:first-child stack:nth-child(2)  {
  background-color: @default_bg_normal;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
  padding: 2px
}
notebook header.top tabs {
	margin-top: .2em;
}
box notebook > stack:only-child {
	background: @default_bg_normal;
  box-shadow: none;
}
/*notebook header:focus tabs {
		outline-color: default_fg_normal;
  	outline-style: dotted;
  	outline-offset: -4px;
  	outline-width: 1px;
}*/
notebook header.bottom tabs {
	margin-bottom: .2em;	
}
notebook header.left tabs {
	margin-left: .2em;
}
notebook header.right tabs {
	margin-right: .2em;
}
notebook tab {
	background: @default_bg_active;
	color: @default_fg_active;
}
notebook tab:focus {
	outline-color: @default_fg_normal;
  outline-style: dotted;
  outline-offset: -4px;
  outline-width: 1px;
}
notebook header.top tab {
  box-shadow: inset -2px 0px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px 0px shade(@default_bg_normal, 0); 
  border-radius: 2px 2px 0px 0px;
	padding: 5px;
}
notebook header.bottom tab {
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 0px @default_bg_normal, inset 1px 0px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0); 
  border-radius: 0px 0px 2px 2px;
	padding: 5px;
}
notebook header.left tab {
  box-shadow: inset 0px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset 0px -1px shade(@default_bg_normal, 0); 
  border-radius: 2px 0px 0px 2px;
	padding: 5px;
}
notebook header.right tab {
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 0px 2px @default_bg_normal, inset 0px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0); 
  border-radius: 0px 2px 2px 0px;
	padding: 5px;
}
notebook header tab:checked {
	background: @default_bg_normal;
	color: @default_fg_normal;
	outline-color: default_fg_normal;
  outline-style: dotted;
  outline-offset: -4px;
  outline-width: 1px;
}
notebook header.top tab:checked {
	margin-bottom: -1px;
	margin-top: -.2em;
}
notebook header.bottom tab:checked {
	margin-bottom: -.2em;
	margin-top: -2px;
}
notebook header.left tab:checked {
	margin-left: -.2em;
	margin-right: -1px;
}
notebook header.right tab:checked {
	margin-left: -2px;
	margin-right: -.2em;
}
notebook header.top tab:checked * {
	margin-top: -1px;
}
notebook header.bottom tab:checked * {
	margin-bottom: -.2em;
}
notebook header.left tab:checked * {
	margin-left: -2px;
}
notebook header.right tab:checked * {
	margin-right: -.2em;
}
notebook tab button {
	background-color: transparent;
	border: 0;
}

/************
 * expander *
 ************/
expander arrow {
	min-width: 16px;
	min-height: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
expander arrow:checked {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/********************************
 * CSD header and window border *
 ********************************/
headerbar {
	background-color: @default_bg_normal;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
	padding: 2px;
}
headerbar.titlebar button.titlebutton.close,
headerbar.titlebar button.titlebutton.maximize,
headerbar.titlebar button.titlebutton.minimize {
	-gtk-icon-style: regular;
}

/****************************
 * application notification *
 ****************************/
.app-notification {
	background-color: @info_bg_normal;
  box-shadow: inset -2px -2px shade(@info_bg_normal, 0.7), inset 2px 2px @info_bg_normal, inset 1px 1px shade(@info_bg_normal, 1.3), inset -1px -1px shade(@info_bg_normal, 0);
  border: none;
}
.app-notification border {
	border: none;
  box-shadow: none;
}

/************
 * popovers *
 ************/
/*popover {
  border: solid 10px red;
  margin: 5px;
  padding: 5px;
}*/
popover > stack > box,
popover > box {
	margin: -10px;
}
popover.background {
	background: @default_bg_normal;
  box-shadow: inset -1px -1px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3);
	padding: 1px;
  border: 1px solid shade(@default_bg_normal, 0);
}
popover.background modelbutton:hover {
	background: @colored_bg_prelight;
  color:  @colored_fg_prelight;
}
popover .flat {
	padding: 5px;
}

/***********
 * toolbar *
 ***********/
toolbar {
	background-color: @default_bg_normal;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
	padding: 2px;
}
/* required for evolution toolbars */
.primary-toolbar {
	border-image: url("assets/checkbox-unchecked.png") 1 / 1px stretch;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
	padding: 2px;
}

toolbar separator {
	box-shadow: inset 2px 2px shade(@default_bg_normal, 1.3), inset -2px -2px shade(@default_bg_normal, 0.7), inset 1px 1px shade(@default_bg_normal, 0.7), inset -1px -1px shade(@default_bg_normal, 1.3);
	margin: 6px;
	padding: 1px;
}

/*************
 * statusbar *
 *************/
statusbar frame {
	box-shadow: inset -2px -2px @default_bg_normal, inset 2px 2px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0.7);
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 6px;
	padding-left: 6px;
}
statusbar {
	margin: 0px -10px;
}
statusbar > separator {
	margin: 10px;
	padding: 10px;
}

/*************
 * listboxes *
 *************/
list row {
	padding: 5px;
}
list row:hover {
	background-color: @default_bg_prelight;
}

/**************
 * separators *
 **************/
separator.horizontal {
  box-shadow: inset 2px 2px shade(@default_bg_normal, 1.3), inset -2px -2px shade(@default_bg_normal, 0.7), inset 1px 1px shade(@default_bg_normal, 0.7), inset -1px -1px shade(@default_bg_normal, 1.3);
	padding: 1px;
}
separator.vertical {
	box-shadow: inset 2px 2px shade(@default_bg_normal, 1.3), inset -2px -2px shade(@default_bg_normal, 0.7), inset 1px 1px shade(@default_bg_normal, 0.7), inset -1px -1px shade(@default_bg_normal, 1.3);
	padding: 1px;
}

/*********
 * paned *
 *********/
paned > separator {
	background: url("assets/paned-separator-vertical.png") no-repeat center;
	background-color: @default_bg_normal;
	-gtk-icon-source: none;
	padding: 1px;
}
paned > separator:hover {
	background-color: @default_bg_prelight;
}
paned.vertical > separator {
	background-image: url("assets/paned-separator-horizontal.png");
}

/**********
 * frames *
 **********/
frame {
/*  padding-top: .2em;*/
}
frame.border-inset {
  box-shadow: inset -2px -2px @default_bg_normal, inset 2px 8px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 7px shade(@default_bg_normal, 0.7), inset 0px 6px @default_bg_normal;
}
frame.border-inset label {
  background-color: @default_bg_normal;
	margin-left: 4px;
}
frame.border-outset {
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 8px @default_bg_normal, inset 1px 7px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0), inset 0px 6px @default_bg_normal;
}
frame.border-outset label {
  background-color: @default_bg_normal;
	margin-left: 4px;
}
frame.border-groove {
  box-shadow: inset 2px 8px shade(@default_bg_normal, 1.3), inset -2px -2px shade(@default_bg_normal, 0.7), inset 1px 7px shade(@default_bg_normal, 0.7), inset -1px -1px shade(@default_bg_normal, 1.3), inset 0px 6px @default_bg_normal;
}
frame.border-groove label {
  background-color: @default_bg_normal;
	margin-left: 4px;
}
frame.border-ridge {
  box-shadow: inset 2px 8px shade(@default_bg_normal, 0.7), inset -2px -2px shade(@default_bg_normal, 1.3), inset 1px 7px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0.7), inset 0px 6px @default_bg_normal;
}
frame.border-ridge label {
  background-color: @default_bg_normal;
	margin-left: 4px;
}
/* required for evolution */
.taskbar {
  box-shadow: inset -2px -2px @default_bg_normal, inset 2px 8px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 7px shade(@default_bg_normal, 0.7), inset 0px 6px @default_bg_normal;
  padding: 5px;
}
/*
frame > border {
  box-shadow: inset 2px 2px shade(@default_bg_normal, 1.3), inset -2px -2px shade(@default_bg_normal, 0.7), inset 1px 1px shade(@default_bg_normal, 0.7), inset -1px -1px shade(@default_bg_normal, 1.3);
  padding: 2px;
}
frame > label {
  padding-left: 4px;
  padding-right: 4px;
}
*/

/*********
* stacks *
**********/

/*stack {
box-shadow: none;
}*/

/*********************
 * preferencesgroups *
 *********************/
preferencesgroup > box > label:first-child {
  font-weight: bold;
}
preferencesgroup row box {
/*	box-shadow: inset 2px 2px shade(@default_bg_normal, 1.3), inset -2px -2px shade(@default_bg_normal, 0.7), inset 1px 1px shade(@default_bg_normal, 0.7), inset -1px -1px shade(@default_bg_normal, 1.3);
  padding: 5px; 
  margin: 5px;*/
}
preferencesgroup row box row {

}
/*preferencesgroup > box > label {
  background-color: @default_bg_normal;
  margin-top: -1em;
  padding-left: 4px;
  padding-right: 4px;
}*/

/**************
 * button box *
 **************/
buttonbox.horizontal button {
	margin: .2em .4em;
}
buttonbox.horizontal button:first-child {
	margin-left: 0;
}
buttonbox.horizontal button:last-child {
	margin-right: 0;
}

/*********
 * scale *
 *********/
scale trough {
  background-color: @default_bg_active;
  box-shadow: inset 1px 1px shade(@default_bg_active, 0.7), inset -1px -1px shade(@default_bg_active, 1.3);

}
scale trough:focus {
	outline-color: default_fg_normal;
  outline-style: dotted;
  outline-offset: 1px;
  outline-width: 1px;
}
scale {
	padding: 2px;
}
scale slider {
	background: @default_bg_normal no-repeat center;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
}
scale slider:hover {
	background-color: @default_bg_prelight;
  box-shadow: inset -2px -2px shade(@default_bg_prelight, 0.7), inset 2px 2px @default_bg_prelight, inset 1px 1px shade(@default_bg_prelight, 1.3), inset -1px -1px shade(@default_bg_prelight, 0);
}
scale trough:disabled {
	background-color: @default_bg_normal;
}
scale.horizontal trough {
	padding: 1px 16px;
}
scale.vertical trough {
	padding: 16px 1px;
}
scale.horizontal slider {
	background-image: url("assets/scale-slider-horizontal.png");
	min-height: 14px;
	min-width: 30px;
}
scale.vertical slider {
	background-image: url("assets/scale-slider-vertical.png");
	min-height: 30px;
	min-width: 14px;
}
scale.horizontal mark indicator {
  color: transparent;
  box-shadow: inset 1px 1px shade(@default_bg_normal, 0.7), inset -1px -1px shade(@default_bg_normal, 1.3);
	min-height: 8px;
	min-width: 2px;
}
scale.vertical mark indicator {
  color: transparent;
  box-shadow: inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0.7);
	min-height: 2px;
	min-width: 8px;
}

/***************
 * color scale *
 ***************/
scale.color trough {
	padding: 0;
}
scale.color slider {
	background-color: transparent;
	border: 0;
}
scale.color.horizontal slider {
	background-image: url("assets/color-scale-slider-horizontal.png");
  box-shadow: none;
	min-height: 14px;
	min-width: 16px;
}
scale.color.vertical slider {
	background-image: url("assets/color-scale-slider-vertical.png");
  box-shadow: none;
	min-height: 16px;
	min-width: 14px;
}

/***************
 * progressbar *
 ***************/
progressbar trough {
	background: @colored_bg_normal;
  box-shadow: inset 1px 1px shade(@colored_bg_normal, 0.7), inset -1px -1px shade(@colored_bg_normal, 1.3);
  padding: 1px;
}
progressbar {
	font-size: .8em;
}
progressbar progress {
	background: @colored_bg_prelight;
	color: @default_fg_normal;
  box-shadow: inset -2px -2px shade(@colored_bg_prelight, 0.7), inset 2px 2px @colored_bg_prelight, inset 1px 1px shade(@colored_bg_prelight, 1.3), inset -1px -1px shade(@colored_bg_prelight, 0);
}
progressbar.horizontal,
progressbar.horizontal trough {
	min-height: 18px;
}
progressbar.horizontal progress {
	min-height: 16px;
	margin:1px;
}
progressbar.vertical,
progressbar.vertical trough {
	min-width: 20px;
}
progressbar.vertical progress {
	min-width: 18px;
	margin:1px;
}

/************
 * levelbar *
 ************/
levelbar block {
	margin: 1px;
	padding: 3px;
}
levelbar block.filled {
	background: @colored_bg_prelight;
  box-shadow: inset -2px -2px shade(@colored_bg_prelight, 0.7), inset 2px 2px @colored_bg_prelight, inset 1px 1px shade(@colored_bg_prelight, 1.3), inset -1px -1px shade(@colored_bg_prelight, 0);
}

/**********
 * switch *
 **********/
switch {
  color: transparent;
	background: url("assets/checkbox-unchecked.png") no-repeat center;
}
switch:focus {
	border-color: #000000;
  border-style: dotted;
  border-width: 1px;
  margin: -1px;
	color: transparent;
}
switch:hover {	
	background-color: @default_bg_prelight;
  color: transparent;
}
switch:checked {
	color: transparent;
	background: url("assets/checkbox-checked.png") no-repeat center;
}
switch:checked:hover {
	background-color: @default_bg_prelight;
	color: transparent;
}
switch:disabled {
	color: transparent;
	background: url("assets/checkbox-unchecked-disabled.png") no-repeat center;
}
switch:checked:disabled {
	color: transparent;
	background: url("assets/checkbox-checked-disabled.png") no-repeat center;
}
switch slider {
	background: none;
}

/************
 * tooltips *
 ************/
tooltip,
tooltip.background  {
	background-color: @default_bg_normal;
	border: 1px solid shade(@default_bg_normal, 0);
	color: @default_fg_normal;
}
tooltip *, .tooltip * {
	margin: -1px;
  border: none;
}

/*************
 * calendars *
 *************/
calendar {
	padding: 2px;
}
calendar.header {
	background-color: @default_bg_normal;
	box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
	padding: 2px;
}
calendar.view {
	background-color: @default_base_normal;
	box-shadow: inset -2px -2px @default_bg_normal, inset 2px 2px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0.7);
}
calendar:indeterminate {
	color: @default_text_insensitive;
}
calendar.highlight {
	background-color: @default_text_insensitive;
	color: @default_fg_selected;
}

/************
 * infobars *
 ************/
.info {
	background-color: @info_bg_normal;
  box-shadow: inset -2px -2px shade(@info_bg_normal, 0.7), inset 2px 2px @info_bg_normal, inset 1px 1px shade(@info_bg_normal, 1.3), inset -1px -1px shade(@info_bg_normal, 0);
}
.warning {
	background-color: @warning_bg_normal;
  box-shadow: inset -2px -2px shade(@warning_bg_normal, 0.7), inset 2px 2px @warning_bg_normal, inset 1px 1px shade(@warning_bg_normal, 1.3), inset -1px -1px shade(@warning_bg_normal, 0);
}
.question {
	background-color: @question_bg_normal;
  box-shadow: inset -2px -2px shade(@question_bg_normal, 0.7), inset 2px 2px @question_bg_normal, inset 1px 1px shade(@question_bg_normal, 1.3), inset -1px -1px shade(@question_bg_normal, 0);
}
.error {
	background-color: @error_bg_normal;
  box-shadow: inset -2px -2px shade(@error_bg_normal, 0.7), inset 2px 2px @error_bg_normal, inset 1px 1px shade(@error_bg_normal, 1.3), inset -1px -1px shade(@error_bg_normal, 0);
}

/***********
 * sidebar *
 ***********/
.sidebar {
	background-color: @default_base_normal;
  box-shadow: inset -2px -2px @default_bg_normal, inset 2px 2px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0.7);
	padding: 2px;
}

/************
 * pathbars *
 ************/
.path-bar button.text-button, .path-bar button.image-button, .path-bar button {
	padding-left: 4px;
	padding-right: 4px;
	min-height: 24px;
}
.path-bar button.text-button.image-button label {
	padding-left: 0;
	padding-right: 0;
}
.path-bar button.text-button.image-button label:last-child, .path-bar button label:last-child {
	padding-right: 4px;
}
.path-bar button.text-button.image-button label:first-child, .path-bar button label:first-child {
	padding-left: 4px;
}
.path-bar button image {
	padding-left: 4px;
	padding-right: 4px;
}
.path-bar button.slider-button {
	padding-left: 0;
	padding-right: 0;
}

/****************
 * file chooser *
 ****************/
dialog filechooser stack {
	background: @default_bg_normal;
}
dialog filechooser placessidebar row {
	padding: 2px;
  margin: 0px;
}
dialog filechooser placessidebar row image.sidebar-icon:dir(ltr) {
  padding-right: 4px;
}
dialog filechooser placessidebar row image.sidebar-icon:dir(rtl) {
  padding-left: 4px;
}
dialog filechooser placessidebar row label.sidebar-label:dir(ltr) {
  padding-right: 4px;
}
dialog filechooser placessidebar row label.sidebar-label:dir(rtl) {
  padding-left: 4px;
}
dialog filechooser actionbar {
	margin-top: 4px;
	padding: 6px;
}

/*****************
 * color chooser *
 *****************/
dialog colorchooser colorswatch {
	box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
	padding: 2px;
}
dialog colorchooser colorswatch.dark * {
	color: white;
}
dialog colorchooser colorswatch.light * {
	color: black;
}
dialog colorchooser #add-color-button {
	box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
}
dialog colorchooser colorswatch:selected * {
	background: transparent;
}
colorchooser .popover {
	background-color: @default_bg_normal;
	box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
}

/****************
 * print dialog *
 ****************/
printdialog paper {
	background-color: @default_base_normal;
	border: solid 1px @default_text_normal;
}
printdialog box {
	background-color: @default_bg_normal;
}

/*********************
 * spinner animation *
 *********************/
@keyframes spin {
	to { -gtk-icon-transform: rotate(1turn); }
}
spinner {
	background-color: transparent;
	opacity: 0;
	min-height: 12px;
	min-height: 12px;
}
spinner:checked {
	opacity: 1;
	animation: spin 1s linear infinite;
}

/*********************
 * XFCE heading *
 *********************/
.XfceHeading { 
	background-color: @default_base_normal;
	color: @default_text_normal;
	text-shadow: none;
}

/*********************
 * XFCE whisker menu *
 *********************/
#whiskermenu-button {
	background-color: @default_bg_normal;
	color: @default_fg_normal;
  box-shadow: inset -4 -4 shade(@default_bg_normal, 0.7), inset 4 4 @default_bg_normal, inset 3px 3px shade(@default_bg_normal, 1.3), inset -3px -3px shade(@default_bg_normal, 0), inset -2px -2px @default_bg_normal, inset 2px 2px @default_bg_normal;
}
/*
#whiskermenu-button image,
#applicationmenu-button image {
  padding-left: 5px;
}
#whiskermenu-button label,
#applicationmenu-button label {
  padding-right: 5px;
}
*/
#whiskermenu-button:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
  box-shadow: inset -4 -4 shade(@default_bg_prelight, 0.7), inset 4 4 @default_bg_prelight, inset 3px 3px shade(@default_bg_prelight, 1.3), inset -3px -3px shade(@default_bg_prelight, 0), inset -2px -2px @default_bg_normal, inset 2px 2px @default_bg_normal;
}
/*
#whiskermenu-button:active {
	background-color: @default_bg_active;
	color: @default_fg_active;
}
*/
#whiskermenu-button:checked {
	background-color: @default_bg_active;
	color: @default_fg_active;
  box-shadow: inset -4 -4 @default_bg_active, inset 4 4 shade(@default_bg_active, 0), inset 3px 3px shade(@default_bg_active, 0.7), inset -3px -3px shade(@default_bg_active, 1.3), inset -2px -2px @default_bg_normal, inset 2px 2px @default_bg_normal;
}
#whiskermenu-window {
	background-color: @default_bg_normal;
	color: @default_fg_normal;
}
#whiskermenu-window frame > border {
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 0);
}
/*
#whiskermenu-window button {
	background-color: @default_bg_normal;
	color: @default_fg_normal;
}
#whiskermenu-window button:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
  box-shadow: inset -2px -2px shade(@default_bg_prelight, 0.7), inset 2px 2px @default_bg_prelight, inset 1px 1px shade(@default_bg_prelight, 1.3), inset -1px -1px #000000;
}
#whiskermenu-window button:active {
	background-color: @default_bg_active;
	color: @default_fg_active;
  box-shadow: inset -2px -2px @default_bg_active, inset 2px 2px shade(@default_bg_active, 0), inset -1px -1px shade(@default_bg_active, 1.3), inset 1px 1px shade(@default_bg_active, 0.7);
}

#whiskermenu-window button:checked {
	background-color: @default_bg_active;
	color: @default_fg_active;
  box-shadow: inset -4 -4 @default_bg_active, inset 4 4 shade(@default_bg_active, 0), inset 3px 3px shade(@default_bg_active, 0.7), inset -3px -3px shade(@default_bg_active, 1.3), inset -2px -2px @default_bg_normal, inset 2px 2px @default_bg_normal;
}
*/
#whiskermenu-window button:checked * {
	background-color: transparent;
}
#whiskermenu-window button:hover * {
	background-color: transparent;
}
/*
#whiskermenu-window button:checked:hover {
	background-color: @default_bg_prelight;
	color: @default_fg_prelight;
}

#whiskermenu-window treeview {
	background-color: @default_bg_normal;
	color: @default_fg_normal;
}

#whiskermenu-window treeview:hover {
	background-color: @colored_bg_prelight;
	color: @colored_fg_prelight;
}

#whiskermenu-window treeview:selected {
	background-color: @colored_bg_prelight;
	color: @colored_fg_prelight;
}
*/

/***************
 * XFCE4 panel *
 ***************/
.xfce4-panel.background button {
	box-shadow: inset -4 -4 shade(@default_bg_normal, 0.7), inset 4 4 @default_bg_normal, inset 3px 3px shade(@default_bg_normal, 1.3), inset -3px -3px shade(@default_bg_normal, 0), inset -2px -2px @default_bg_normal, inset 2px 2px @default_bg_normal;
  border-image: none;
}
.xfce4-panel.background button:hover {
  box-shadow: inset -4 -4 shade(@default_bg_prelight, 0.7), inset 4 4 @default_bg_prelight, inset 3px 3px shade(@default_bg_prelight, 1.3), inset -3px -3px shade(@default_bg_prelight, 0), inset -2px -2px @default_bg_normal, inset 2px 2px @default_bg_normal;
}
.xfce4-panel.background button:active,
.xfce4-panel.background button:checked {
  box-shadow: inset -4 -4 @default_bg_active, inset 4 4 shade(@default_bg_normal, 0), inset 3px 3px shade(@default_bg_normal, 0.7), inset -3px -3px shade(@default_bg_normal, 1.3), inset -2px -2px @default_bg_normal, inset 2px 2px @default_bg_normal;
  border-image: none;
}
/*.xfce4-panel.background button:hover label {
  background-color: transparent;
}
.xfce4-panel.background button:active label, .xfce4-panel.background button:checked label {
  background-color: transparent;
}*/

/*****************
 * XFCE4 desktop *
 *****************/
XfdesktopIconView.view {
	background: transparent;
	color: white;
	text-shadow: 1px 1px black;
}
XfdesktopIconView.view:active {
  background: @default_bg_selected;
}

/*******************************
 * XFCE4 session logout dialog *
 *******************************/
.xfsm-logout-dialog {
	border: 0px solid;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 0);
}

/************************
 * XFCE4 Alt-Tab dialog *
 ***********************/
#xfwm-tabwin {  	
  background-color: @default_bg_normal;
  color: @default_fg_normal;
  padding: 2px;
  -XfwmTabwinWidget-icon-size: 32px;
  -XfwmTabwinWidget-preview-size: 32px;
  box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px shade(@default_bg_normal, 1.3), inset 1px 1px shade(@default_bg_normal, 0), inset -1px -1px shade(@default_bg_normal, 0);
}

/*******************************
 * XFCE4 window manager (XFWM) *
 *******************************/

/***********
 * LightDM *
 ***********/
.lightdm-gtk-greeter {
}
.lightdm-gtk-greeter #panel_window menubar {
	border-image: url("assets/panel.png") 1 / 1px stretch;
	min-height: 27px;
}
.lightdm-gtk-greeter #panel_window menubar separator {
	padding-top: 2px;
	padding-bottom: 2px;
}
.lightdm-gtk-greeter #login_window,
.lightdm-gtk-greeter #shutdown_dialog,
.lightdm-gtk-greeter #restart_dialog {
	border-image: url("assets/window-decoration.png") 25 / 25px stretch;
	background-color: @default_bg_normal;
	color: @default_fg_normal;
}
.lightdm-gtk-greeter #content_frame {
	padding-top: 10px;
}  
.lightdm-gtk-greeter #login_window #user_image_border {
	padding: 2px;
	box-shadow: inset -2px -2px shade(@default_bg_normal, 0.7), inset 2px 2px @default_bg_normal, inset 1px 1px shade(@default_bg_normal, 1.3), inset -1px -1px shade(@default_bg_normal, 0);
}

/*@define-color theme_fg_color @default_fg_normal;
@define-color theme_text_color @default_text_normal;
@define-color theme_bg_color @default_bg_normal;
@define-color theme_base_color @default_base_normal;
@define-color theme_selected_bg_color @default_bg_active;*/
/*@define-color theme_selected_fg_color @default_fg_active;*/

/*@define-color fg_color #3c3e3c;
@define-color text_color #3c3e3c;
@define-color bg_color #F5F5F7;
@define-color base_color #f9faf9;
@define-color selected_bg_color #16a085;
@define-color selected_fg_color #f9faf9;
@define-color insensitive_bg_color #f4f4f4;
@define-color insensitive_fg_color #abadab;
@define-color insensitive_base_color #f9faf9;
@define-color theme_unfocused_fg_color #3c3e3c;
@define-color theme_unfocused_text_color #3c3e3c;
@define-color theme_unfocused_bg_color #F5F5F7;
@define-color theme_unfocused_base_color #f9faf9;
@define-color borders #b9b9b9;
@define-color unfocused_borders #b9b9b9;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #73d216;
@define-color wm_title #F3F5F3;
@define-color wm_unfocused_title rgba(243, 245, 243, 0.6);
@define-color wm_title_highlight rgba(255, 255, 255, 0);
@define-color wm_title_highlight_dark rgba(0, 0, 0, 0.8);
@define-color wm_title_shadow rgba(0, 0, 0, 0.8);
@define-color metacity_bg_a @default_bg_normal;
@define-color metacity_bg_b @default_bg_normal;
@define-color wm_border black;
@define-color content_view_bg #f9faf9;*/